<h2 class="index">Follower Users</h2>
<% if @users.exists? %>
  <% @users.each do |user| %>
  <div class="relationships">
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td><%= render "relationships/follow", user: user %></td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
  </div>
    <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>