    <div>
        <%= link_to "Sign up", new_user_registration_path %>
    </div>
    <div>
        <%= link_to "Login", new_user_session_path %>
    </div>
    <div>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
    </div>

