<%= form_with model: post, local: true do |f| %>
  <div class ="form">
    <div class ="form-group">
      <h3 class ="form-group__text">内容</h3>
      <%= f.text_area :contents, placeholder:"好きなことを発信しよう", class: "post_contens", size: "50x10" %>
    </div>
  
    <div class ="from-group">
        <h3 class ="form-group__text">画像</h3>
      　<%= f.attachment_field :image %>
      　<%= f.submit '投稿' %>
    </div>
  </div>
<% end %>