/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

.notice {
  color: green;
  text-align: center;
}

.error_explanation {
  color: red;
  text-align: center;
}

header {
  padding: 15px 0;
  margin: 0 auto;
  background-color: black;
  text-align: center;

  .heading{
    color: yellow;
  }
}

nav {
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;

    .nav-list-item {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
    }
  }
}

// Login-page
.contner {
  text-align: center;
  
  &__field {
    margin-bottom: 10px;
  }
}

//botton
.contner__button--signup {
    display: inline-block;
    padding: 0.5em 10em;
    margin: 0 0 1.5em 0;
    background: #00FF00;
    color: #FFFFFF;
}
.contner__button--login {
    display: inline-block;
    padding: 0.5em 10.5em;
    margin: 0 0 1.5em 0;
    background: #00FFFF;
    color: #FFFFFF;
}

//全ての共通見出し
.index {
  text-align: center;
}

//ボタン

//編集
.botton-edit {
  padding: 0.5em 1em;
  margin: 2em 0.5em;
}
//削除
.botton-delete {
  padding: 0.5em 1em;
  margin: 2em 0.5em;
  color: #FF0000;
  
}
//詳細
.botton-show {
  padding: 0.5em 1em;
  margin: 2em 0.5em;

}
//送信
.botton-send {
    display: inline-block;
    padding: 0.5em 10.5em;
    margin: 1.5em 0;
    background: #000000;
    color: #FFFF00;
}
//検索
.botton-search {
    display: inline-block;
    padding: 0.5em 10.5em;
    margin: 1.5em 0;
    background: #C0C0C0;
    color: #000000;
    }
