/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

header {
  padding: 15px 0;
  margin: 0 auto;
  background-color: black;
  text-align: center;

  .heading{
    color: yellow;
  }
}

nav {
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;

    .nav-list-item {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
    }
  }
}

// Login-page
.contner {
  text-align: center;
  
  &__field {
    margin-bottom: 10px;
  }
}
.button-login {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00F;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  border        : 2px solid #000000;    /* 枠の指定 */
}

.button-signup {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 12px;   /* 余白       */
  background    : #0F0;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  border        : 2px solid #000000;    /* 枠の指定 */
}
