// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  text-align: center;
}

span {
  color: blue;
}

.TopPage {
    text-align: center;

  &__signup {
    display: inline-block;
    padding: 0.5em 10em;
    margin: 0 0 1.5em 0;
    background: #00FF00;

  }
  
  &__login {
    display: inline-block;
    padding: 0.5em 10.5em;
    margin: 0 0 1.5em 0;
    background: #00FFFF;

  }
  
  &__guest {
    display: inline-block;
    padding: 0.5em 6.5em;
    margin: 0 0 1.5em 0;
    background: #808080;
  }
}

.button-signup {
  margin: 0; 
  padding: 0;
  color: #FFFFFF;
}

.button-login {
  margin: 0; 
  padding: 0;
  color: #FFFFFF;
}

.button-guest {
  margin: 0; 
  padding: 0;
  color: #FFFFFF;
}