// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-info {
  text-align: center;
  
  &__chat {
    margin: 15px 0;
  }
}

//edit
.user-edit {
  text-align: center;
  
  &__name {
    margin: 15px 0;
  }
  
  &__pic {
    margin: 15px 0;
  }
}